@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
html,
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
html body {
  color: #1f1f01;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}
html body .section-header {
  color: #f1f1f1;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}
html body .section-header a {
  color: #f1f1f1;
}
html body .section-header .section-header__top {
  padding: 0.9375rem 0;
  background-color: #097651;
}
html body .section-header .section-header__top .inner__item--left {
  display: flex;
  align-items: center;
}
html body .section-header .section-header__top .inner__item--left .header-logo {
  width: 100%;
}
html body .section-header .section-header__top .inner__item--left .header-logo .header-logo__link {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 10rem;
  height: 6rem;
  background-size: cover;
  background-color: #097651;
  text-decoration: none;
  display: block;
}
html body .section-header .section-header__top .inner__item--right .text-link {
  margin-bottom: 0.625rem;
}
html body .section-header .user {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
}
html body .section-header .user .user__block {
  display: flex;
  cursor: pointer;
}
html body .section-header .user .user__block #user--image {
  width: 2rem;
  height: 2rem;
}
html body .section-header .user .user__block #username {
  margin: 0;
}
html body .section-header .user .user__block .sub-block {
  display: none;
  position: absolute;
  top: 2rem;
  z-index: 10;
  min-width: 10rem;
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  margin-top: 0.25rem;
}
html body .section-header .user .user__block .sub-block a {
  color: #095d40;
}
html body .section-header .search-section .search-section__form {
  display: flex;
  justify-content: flex-end;
}
html body .section-header .search-section .search-section__form .search-section__form-main {
  width: 17.1875rem;
  border-radius: 0.25rem;
  margin: 0;
  background-color: #095d40;
}
html body .section-header .search-section .search-section__form .search-section__form-main #search-input {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  color: #f1f1f1;
  padding: 0.75rem;
}
html body .section-header .search-section .search-section__form .search-section__form-main #search-input:focus, html body .section-header .search-section .search-section__form .search-section__form-main #search-input:focus ~ #search-btn {
  background-color: #0b402e;
}
html body .section-header .search-section .search-section__form .search-section__form-main ::placeholder {
  color: #cbcbcb;
}
html body .section-header .search-section .search-section__form .search-section__form-main #search-btn {
  color: #f1f1f1;
}
html body .section-header .search-section .search-section__form .search-section__form-main:hover {
  background-color: #0b402e;
}
html body .section-header .cart-section a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background-color: #095d40;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
}
html body .section-header .cart-section a span#cart-quantity {
  position: absolute;
  top: -0.5rem;
  left: 0;
  font-size: 0.9rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  color: #095d40;
  border-radius: 50%;
  font-weight: 800;
}
html body .section-header .cart-section a:hover {
  background-color: #0b402e;
}
html body .section-header .cart-section a i {
  margin-right: 0.25rem;
}
html body .section-header #nav-bar.section-header__bottom {
  background-color: #097651;
  padding-bottom: 0;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li {
  position: relative;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li:hover > .sub-menu {
  display: block;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li a {
  position: relative;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li a:hover {
  background-color: #f1f1f1;
  color: #095d40;
  font-weight: 600;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li a.active {
  background-color: #f1f1f1;
  color: #095d40;
  font-weight: 600;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li .sub-menu {
  display: none;
  position: absolute;
  background: #f1f1f1;
  top: 2.5rem;
  min-width: 12.5rem;
  z-index: 99;
  -webkit-box-shadow: 10px 10px 30px 0px #1f1f1f;
  -moz-box-shadow: 10px 10px 30px 0px #1f1f1f;
  box-shadow: 10px 10px 30px 0px #1f1f1f;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li .sub-menu .sub-menu__ul {
  column-count: 2;
  list-style: none;
  text-transform: capitalize;
  font-size: 0.9rem;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li .sub-menu .sub-menu__ul .sub-menu__li a {
  color: #1f1f01 !important;
  padding: 0.625rem;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .categories-menu--li .sub-menu .sub-menu__ul .sub-menu__li a:hover {
  color: #097651 !important;
  text-decoration: underline;
}
html body .section-header #nav-bar.section-header__bottom .categories-menu .categories-menu--ul .price-range__menu .sub-menu {
  min-width: 20rem;
}
html body .section-error {
  padding-top: 10.875rem;
}
html body .section-main .section-main__content {
  padding-top: 5rem;
  padding-bottom: 1rem;
}
html body .section-main .section-main__content .g10-section {
  margin-bottom: 4rem;
}
html body .section-main .section-main__content section.slides .slides__elem ul.slick-dots li button::before {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #097651;
  border-radius: 50%;
}
html body .section-main .section-main__content section.slides .slides__elem .slide-item {
  position: relative;
}
html body .section-main .section-main__content section.slides .slides__elem .slide-item .slide-item__textbox {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 25%;
}
html body .section-main .section-main__content section.slides .slides__elem .slide-item .slide-item__textbox .slide-item__heading {
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
}
html body .section-main .section-main__content section.slides .slides__elem .slide-item .slide-item__textbox .slide-item__text {
  width: 60%;
  margin: auto;
  font-size: 1.25rem;
}
html body .section-main .section-main__content section.slides .slides__elem .slide-item img {
  position: relative;
  height: 20rem;
}
html body .section-main .section-main__content .categories h2.introduce-title {
  text-transform: uppercase;
  font-weight: 700;
}
html body .section-main .section-main__content .categories .categories__block .category .category__image img {
  width: 100%;
  height: 16rem;
}
html body .section-main .section-main__content .categories .categories__block .category .category__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}
html body .section-main .section-main__content hr.line {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
html body .section-main .section-main__content .list--products .categories-brands {
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .list--products .categories-brands h2.categories-brands__name {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
html body .section-main .section-main__content .list--products .categories-brands h2.categories-brands__name:after {
  content: "";
  width: 70%;
  margin-left: 1rem;
  height: 1px;
  background: linear-gradient(90deg, #0b402e 0%, rgba(9, 93, 64, 0.891660888) 40%, rgba(9, 118, 81, 0.3202323166) 100%);
  position: absolute;
  top: 0.9rem;
}
html body .section-main .section-main__content .list--products .categories-brands .categories-brands__elem .product-item .product-item__image img {
  width: 100%;
  height: 12.5rem;
}
html body .section-main .section-main__content .list--products .categories-brands .categories-brands__elem .product-item .product-item__name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.625rem 0;
}
html body .section-main .section-main__content .list--products .categories-brands .more-product {
  text-align: center;
}
html body .section-main .section-main__content .list--products .categories-brands .more-product a.more-product__link {
  padding: 0.9rem 10rem;
  margin-top: 1rem;
  display: inline-block;
  background-color: #097651;
  color: #f1f1f1;
  text-decoration: none;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range__link {
  display: block;
  padding: 2rem 0;
  text-align: center;
  color: #f1f1f1;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range__link p {
  margin: 0;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--2-4 {
  background-color: #ff1722;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--2-4 p {
  margin-top: 1.5rem;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--4-8 {
  background-color: #ff7e14;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--8-12 {
  background-color: #2b00aa;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--12-16 {
  background-color: #095d40;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--16-20 {
  background-color: #0f99ff;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--20\+ {
  background-color: #932ce8;
}
html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--20\+ p {
  margin-top: 1.5rem;
}
html body .section-main .section-main__content .list--products > h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .list--products-phone {
  margin-bottom: 4rem;
}
html body .section-main .section-main__content .list--products-phone img {
  height: 14rem !important;
}
html body .section-main .section-main__content .product-list .product--price-range-dropdown {
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .product-list .product--price-range-dropdown .dropdown-menu a.dropdown-item:hover {
  background-color: #095d40;
  color: #f1f1f1;
}
html body .section-main .section-main__content .product-list .product--price-range-dropdown .dropdown-menu a.active-range {
  background-color: #095d40;
  color: #f1f1f1;
}
html body .section-main .section-main__content .product-list h2.category-name {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .product-list .product-content {
  margin-bottom: 4rem;
}
html body .section-main .section-main__content .product-list .product-content a {
  display: block;
}
html body .section-main .section-main__content .product-list .product-content a img {
  width: 100%;
  height: 12.5rem;
}
html body .section-main .section-main__content .product-list .product-content .product-name {
  margin-top: 1rem;
}
html body .section-main .section-main__content .product-list .product-content .product-price {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}
html body .section-main .section-main__content #fb-comment {
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .products-more h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
html body .section-main .section-main__content .product-detail {
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__image .image-content {
  width: 80%;
  height: 19rem;
  margin: auto;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__image .image-content img {
  width: 100%;
  height: 100%;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content h3.product-title {
  font-size: 1.5rem;
  font-weight: 600;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content p.product-price {
  font-size: 1.5rem;
  font-weight: 900;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants {
  text-transform: uppercase;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant {
  position: relative;
  margin-bottom: 1rem;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block {
  position: relative;
  display: inline-block;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block label {
  padding: 0.4rem 1.5rem;
  background-color: #f1f1f1;
  color: #095d40;
  border: 2px solid #095d40;
  border-radius: 999px;
  margin-bottom: 0;
  transition: all 0.3s ease-out;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block label span {
  position: relative;
  z-index: 2;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block label:after {
  position: absolute;
  content: "";
  opacity: 0;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  background-color: #095d40;
  border-radius: 999px;
  z-index: 1;
  transition: all 0.3s ease-out;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  display: none;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block input:checked ~ label {
  border: 2px solid #095d40;
  color: #f1f1f1;
  transition: all 0.3s ease-out;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .section-product-variants .variant .variant__block input:checked ~ label:after {
  opacity: 1;
  transition: all 0.3s ease-out;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .form-payment .btn--add-to-cart {
  padding: 0.65rem 1.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #097651;
  border-color: #097651;
  background-color: #f1f1f1;
  border-width: 2px;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .form-payment .btn--buy-now {
  padding: 0.65rem 1.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #f1f1f1;
  background-color: #097651;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description {
  text-align: justify;
  padding: 1rem 0.5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description h4 {
  font-size: 1.3rem;
  font-weight: 700;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description .product-description__content {
  font-size: 0.9rem;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description .product-description__content table {
  text-align: initial;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description .product-description__content table tr td:first-child {
  width: 30%;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description .product-description__content p {
  margin-bottom: 0.5rem;
}
html body .section-main .section-main__content .product-detail .product-detail__content .product-detail__main .content .product-description .product-description__content p:last-child {
  margin: 0;
}
html body .section-main .section-main__content .products-cart {
  margin-bottom: 4rem;
}
html body .section-main .section-main__content .products-cart .products-cart__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #095d40;
  margin-bottom: 2rem;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-label .cart-label__item {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: right;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__content .cart-item .cart-item__left .product-title strong {
  font-size: 1.125rem;
  display: block;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__content .cart-item .cart-item__left .product-title a {
  font-size: 0.9rem;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__content .cart-item .cart-item__right {
  font-weight: 600;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__content .cart-item .cart-item__right .product-amount .product-amount__block .btn-amount {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #095d40;
  color: #097651;
  cursor: pointer;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__content .cart-item .cart-item__right .product-amount .product-amount__input {
  height: 2.5rem;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__content .cart-item .cart-item__right .product-amount .product-amount__input::-webkit-inner-spin-button {
  cursor: pointer;
  height: 2.5rem;
  width: 6rem;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__total p.sub-total {
  text-align: right;
  font-size: 1.125rem;
  font-weight: 900;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__total p.sub-total span {
  font-size: 1.9rem;
  color: #ff1722;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__button .btn__shopping-continue {
  padding: 0.65rem 1.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border: 2px solid #095d40;
  background-color: #f1f1f1;
  color: #095d40;
}
html body .section-main .section-main__content .products-cart .products-cart__content .cart-form .cart-form__button .btn__payment {
  padding: 0.65rem 1.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background-color: #095d40;
  color: #f1f1f1;
}
html body .section-main .section-main__content .checkout {
  margin-bottom: 4rem;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .contact-info {
  padding-right: 5%;
  border-right: 0.0625rem solid #097651;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .contact-info label.error {
  border: none !important;
  color: #ff1722;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .contact-info p.error-msg {
  color: #ff1722;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .contact-info .btn-record div:first-child {
  display: flex;
  align-items: center;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .contact-info .btn-record div:first-child a {
  color: #097651;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .contact-info .btn-record .btn-order {
  padding: 0.65rem 1.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background-color: #097651;
  color: #f1f1f1;
  margin-bottom: 0;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .cart-info .cart-info__detail .cart-info__detail-main {
  font-size: 0.9rem;
  margin-bottom: 1.25rem;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .cart-info .cart-info__detail .cart-info__detail-main .product-info .product-info__image > span {
  position: absolute;
  top: -0.625rem;
  right: 0.125rem;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #095d40;
  color: #f1f1f1;
  border-radius: 50%;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .cart-info .cart-info__detail .cart-info__detail-main .product-info .product-info__title p {
  margin: 0;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .cart-info .cart-info__detail .cart-info__detail-main .product-price {
  font-weight: 700;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .cart-info .cart-info__total .cart-total__labels {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
html body .section-main .section-main__content .checkout .checkout__content .checkout__content__main > .cart-info .cart-info__total .cart-total__content {
  font-size: 1.75rem;
  font-weight: 800;
  color: #0b402e;
}
html body .section-main .section-main__content .thanks-order {
  margin-bottom: 4rem;
}
html body .section-main .section-main__content .thanks-order a {
  color: #097651;
  font-size: 1.25rem;
}
html body .section-main .pagination {
  margin-bottom: 4rem;
}
html body .section-main .pagination li a {
  display: block;
  padding: 0.4rem 0.75rem;
  background-color: #f1f1f1;
  border: 2px solid #095d40;
  border-left: none;
  color: #097651;
}
html body .section-main .pagination li:first-child a {
  border-left: 2px solid #095d40;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
html body .section-main .pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
html body .section-main .pagination li.active a {
  background-color: #097651;
  color: #f1f1f1;
}
html body .section-back-to-top {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  z-index: 99;
}
html body .section-back-to-top .btn-back-to-top {
  background-color: #1f1f01;
  color: #f1f1f1;
}
html body .section-back-to-top--hidden {
  opacity: 0;
  visibility: hidden;
}
html body .show-btn {
  animation: buttonShow 1s ease-in;
}
html body footer.page-footer {
  background-color: #ebebeb;
}
html body footer.page-footer p {
  margin-bottom: 0.5rem;
}
html body footer.page-footer p a {
  color: #095d40;
}
html body#userBody .header {
  background-color: #f1f1f1;
  padding: 2% 5%;
}
html body#userBody .header .header__text {
  display: inline-block;
  margin-right: 1rem;
}
html body#userBody .header .header__logo .header__logo__link {
  color: #097651;
  font-family: "Charm", cursive;
  font-weight: bold;
  text-decoration: none;
}
html body#userBody .user-section .user-section__main a {
  text-decoration: none;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block {
  padding: 5%;
  background-color: #097651;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--logo .logo .logo__link {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  width: 14rem;
  height: 9rem;
  background-size: cover;
  background-color: #097651;
  text-decoration: none;
  display: block;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form {
  padding: 1.5rem;
  background-color: #f1f1f1;
  border-radius: 5px;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .title {
  font-family: "Itim", cursive;
  margin-bottom: 1rem;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .text-input {
  border-bottom: 1px solid #097651;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .text-input input, html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .text-input input:focus {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  font-size: 0.9rem;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .text-input .error-msg {
  margin: 0.5rem 0 0 0;
  color: #ff1722;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button {
  margin-top: 2rem;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .section-btn {
  padding: 0.6rem 1.5rem 0.4rem;
  font-size: 1.125rem;
  text-transform: uppercase;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .btn-login, html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .btn-register {
  color: #f1f1f1;
  background-color: #097651;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .btn-login:hover, html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .btn-register:hover {
  background-color: #095d40;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .btn-reset {
  color: #f1f1f1;
  background-color: #7e7e7e;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .user-section__form .user-section__button .btn-reset:hover {
  background-color: #4d4d4d;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .register-link .register-link__main {
  color: #097651;
}
html body#userBody .user-section .user-section__main .g10-user .g10-user__block .g10-user__elem--form .login-link .login-link__main {
  color: #097651;
}

.error {
  border: 1px solid #ff1722 !important;
}

#error-login {
  font-size: 1.25rem;
  color: #ff1722;
  font-weight: 600;
}

.row {
  margin: 0;
}

.p-10 {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.g10-section-mobile {
  display: none;
}

@keyframes buttonShow {
  0% {
    transform: translateY(5rem);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@-webkit-keyframes buttonShow {
  0% {
    transform: translateY(5rem);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media (max-width: 374px) {
  html {
    font-size: 9px !important;
  }

  .g10-section-mobile {
    display: block;
  }

  .g10-section {
    display: none;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
  html body .section-header .section-header__top {
    padding: 0;
    position: relative;
    top: 0;
    margin-top: 3.3rem;
  }
  html body .section-header .section-header__top .inner__item--left .header-logo {
    text-align: center;
    padding: 1rem;
  }
  html body .section-header .section-header__top .inner__item--left .header-logo .header-logo__link {
    margin: 0 auto;
    width: 16rem;
    height: 10rem;
  }
  html body .section-header .user {
    justify-content: center;
  }
  html body .section-header .g10-section-mobile {
    background-color: #097651;
  }
  html body .section-header #mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid;
    font-size: 1.1rem;
  }
  html body .section-header #mobile-nav button.menu-toggle {
    background: none;
    border: none;
    color: #f1f1f1;
  }
  html body .section-header #mobile-nav a.cart-toggle {
    display: inline-block;
  }
  html body .section-header #mobile-nav .mobile-link {
    padding: 0.8rem 0.3rem;
  }
  html body .section-header .section-toggle {
    position: fixed;
    top: 0;
    left: -100%;
    visibility: hidden;
    z-index: 999;
    width: 80%;
    height: 100%;
    transition: all 400ms ease-in;
    overflow-y: scroll;
  }
  html body .section-header .section-toggle > i {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: 100;
    cursor: pointer;
  }
  html body .section-header .section-toggle .search-section {
    padding: 1rem;
  }
  html body .section-header .section-toggle .search-section .search-section__form {
    width: 100%;
  }
  html body .section-header .section-toggle .search-section .search-section__form .search-section__form-main {
    width: 100%;
  }
  html body .section-header .section-toggle .categories-menu .categories-menu--ul .categories-menu--li {
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  html body .section-header .section-toggle .categories-menu .categories-menu--ul .categories-menu--li .sub-menu {
    display: none;
    position: relative;
  }
  html body .section-header .section-toggle .categories-menu .categories-menu--ul .categories-menu--li .sub-menu .sub-menu__ul {
    position: relative;
    list-style: none;
    font-size: 1.25rem;
  }
  html body .section-header .open-section-toggle {
    left: 0;
    visibility: visible;
    transition: all 600ms ease-in;
  }
  html body .section-error {
    padding-top: 16.3rem;
  }
  html body .section-main .section-main__content {
    padding-top: 2rem;
  }
  html body .section-main .section-main__content section.slides .slides__elem .slide-item__image {
    height: 15rem !important;
  }
  html body .section-main .section-main__content .categories .categories__block .category {
    margin-bottom: 1.5rem;
  }
  html body .section-main .section-main__content .categories .categories__block .category .category__image {
    width: 60%;
    margin: 0 auto;
  }
  html body .section-main .section-main__content .categories .categories__block .category .category__name {
    text-align: center;
  }
  html body .section-main .section-main__content .line {
    margin-bottom: 3.5rem !important;
  }
  html body .section-main .section-main__content .list--products .categories-brands .categories-brands__name {
    font-size: 1.8rem !important;
  }
  html body .section-main .section-main__content .list--products .categories-brands .categories-brands__name:after {
    width: 60% !important;
  }
  html body .section-main .section-main__content .list--products .categories-brands .categories-brands__elem .product-item .product-item__name {
    text-align: center;
  }
  html body .section-main .section-main__content .list--products .categories-brands .categories-brands__elem .product-item:nth-child(3), html body .section-main .section-main__content .list--products .categories-brands .categories-brands__elem .product-item:nth-child(4) {
    display: none;
  }
  html body .section-main .section-main__content .list--products > h2 {
    font-size: 2rem;
  }
  html body .section-main .section-main__content .list--products .products--by-price-range {
    margin-bottom: 3.5rem;
  }
  html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range__link {
    font-size: 0.75rem;
    padding: 1rem 0.5rem;
  }
  html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range__link.price-range--2-4 p, html body .section-main .section-main__content .list--products .products--by-price-range .price-range__block .price-range--20\+ p {
    margin-top: 1.2rem !important;
  }
  html body .section-main .section-main__content .product-detail .product-detail__image {
    margin-bottom: 4rem;
  }
  html body .section-main .section-main__content .product-detail .product-detail__main .product-description h4 {
    font-size: 1.75rem !important;
  }
  html body .section-main .section-main__content .product-detail .product-detail__main .product-description .product-description__content {
    font-size: 1.1rem !important;
  }
  html body .section-main .section-main__content .products-cart {
    margin-bottom: 2rem;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-1 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-2 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-3 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-4 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-5 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-6 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-7 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-8 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-9 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-10 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-11 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .products-cart__content .col-12 {
    padding: 0;
  }
  html body .section-main .section-main__content .products-cart .cart-form .cart-item__left .product-title p {
    margin-bottom: 0.5rem;
  }
  html body .section-main .section-main__content .products-cart .cart-form .cart-item__right .product-amount .product-amount__block {
    justify-content: center !important;
  }
  html body .section-main .section-main__content .products-cart .cart-form .cart-item__right .product-amount .product-amount__block .product-amount__input {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
  }
  html body .section-main .section-main__content .products-cart .cart-form .cart-item__right .product-amount .product-amount__block .product-amount__input::-webkit-inner-spin-button {
    cursor: pointer;
    height: 1.5rem !important;
    width: 2rem !important;
  }
  html body .section-main .section-main__content .checkout {
    margin-bottom: 2rem;
  }
  html body .section-main .section-main__content .checkout .checkout__content .contact-info {
    border-right: none !important;
    order: 1;
  }
  html body .section-main .section-main__content .checkout .checkout__content .cart-info {
    margin-bottom: 2rem;
  }
  html body .section-back-to-top {
    bottom: 5rem !important;
  }
  html body#userBody .user-section__main .g10-user__elem--form {
    order: 1;
  }

  .g10-section-mobile {
    display: block;
  }

  .g10-section {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) and (max-width: 1727px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1728px) {
  html {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
